[submodule "client/tests"]
	path = client/tests
	url = https://github.com/qilongyun/autotest-client-tests.git
	[submodule "server/tests"]
	path = server/tests
    url = https://github.com/autotest/autotest-server-tests.git
